body {
    background-image: url("images/brickwallBG.gif");
}





#navigation {
    padding-left: 300px;
}

.MainTitle {
    border: 3px;
    color: #000000;
    text-align: center;
}

.forumtopics {

    background-color: #ffffff;
    border-radius: 15px;
    width: 40%;
    height: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: auto;
    text-align: left;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0;
    padding-left: 0;

}


.button1 {
    border-color: #000000;
    border-radius: 15px;
    color: #000000;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #ff70b3;

}

.button1:hover {
    border-color: #ffb6e1;
    color: #ffffff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fc6283;

}

.sidebar {
    height: calc(100vh - 40px);

    width: 180px;

    position: fixed;
    top: 20px;

    right: 20px;
    background-color: #ffb6e1;
    padding: 20px 10px;

    border-radius: 10px;

}

.ActivitySidebarPosition {
    display: flex;
    justify-content: center;
}

ul {
    background-color: #ffb6e1;
    list-style-type: none;
    margin: 10px 0;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Error Page*/
.ErrorBlock {
    display: flex;
    justify-content: center;
}

.topics {
    padding: auto;
    justify-content: center;
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffb6e1;
    padding: 20px;
    row-gap: 10px;
    border-top: 1px solid #fff2f2
}



.grid-item {
    padding: 20px;
}

.gridTopicTitles {
    font-size: 15px;
    color: #ff69b4;
}

.gridStats {
    font-size: 12px;
    color: #ff69b4;

}

.gridActivity {
    font-size: 10px;
    color: #ff69b4;
}


.topics {
    padding: auto;
    justify-content: center;
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffb6e1;
    padding: 20px;
    row-gap: 10px;
    border-top: 1px solid #fff2f2
}

/*FLEXBOX STYLING FOR FORUM COMMENTS*/

.ThreadContainer {
    display: flex;
    justify-content: center;
}

.CommentBox {
    display: flex;
}

.CommentSect {
    background-color: #fff2f2;
    width: 150px;
    height: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Profile {

    width: 150px;
    height: 200px;
    align-content: center;
    border-color: #ff69b4;
    border-style: double;

}

#Comment {

    width: 675px;
    height: 200px;
    align-content: center;
    border-color: #ff69b4;
    border-style: double;
}

#Stats {

    width: 150px;
    height: 200px;
    border-color: #ff69b4;
    border-style: double;

}

.status {
    font-size: x-small;
}

.signature {
    border-top-style: double;
    border-top-color: #ff69b4;
    font-size: small;
    width: 500px;
    height: 50px;
}

.PageNumbers {
    display: flex;
    justify-content: center;
}

/*JULIE PROFILE CONTENT*/

.JulieProfileContainer {

    display: flex;
    justify-content: center;
}

.box {
    border-radius: 15px;
}

#ProfileBox01 {
    background-color: #ff69b4;
    height: 300px;
    width: 300px;

}

#ProfileBox02 {
    background-color: aliceblue;
    height: 300px;
    width: 900px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.RulesContainer {
    display: flex;
    justify-content: center;

}

#RulesBox {
    background-color: rgb(255, 255, 255);
    height: 1000px;
    width: 1200px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

/* HomePage Popular and recent forums stling*/

#HomePageContent {
    padding-left: 250px;

}